.policies-privacy-container {
    max-width: 800px;
    margin: auto;
    text-align: center;
    padding: 20px;
}

.policies-privacy-header {
    color: #333;
    font-size: 2em;
    margin-bottom: 20px;
}

.policies-privacy-content {
    text-align: justify;
    line-height: 1.5;
}

.policies-privacy-content h2 {
    font-size: 1.2em;

    margin-bottom: 10px;

    margin-top: 10px;
}


.policies-privacy-thanks {
    font-style: italic;
    margin-top: 20px;
}

.policies-privacy-gym-name {
    font-weight: bold;
    color: #460A0A;
    /* Color de la marca del gimnasio */
    font-size: 1.3em;
    margin-top: 10px;

}