body{
  font-size: 17px;  
}

.about-baner{
    width: 100%;
    min-height: 60vh;
    background-color: rgba(255, 0, 43, 0.61);
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-image:linear-gradient(rgba(0, 0, 0, 0.205), rgba(0, 0, 0, 0.2)), url(/img/about/gym-baner.jpg) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.about-baner-text{
   background-color: rgba(0, 0, 0, 0.596);
   color: antiquewhite;
   font-size: 1.5em;
   border-radius: 12px;
   padding:20px 15px;
   width: 700px;
   margin: 10px 0;
}

.about-baner h1{
    font-size: 2.2em;
}

.about-main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 0px;
  }
  
.about-text-1{
    margin: 15px 30px;
    padding: 15px;
    text-align: center;
}

.about-text-1 h2{
    font-size: 2em;
    padding-bottom: 20px;
}

.about-text-1 p{
    padding-bottom: 20px;
}

.about-text {
    max-width: 400px;
  }
  
.about-image img {
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 600px;
  }


.cards{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}

.card {
  min-width: 210px;
  height: 280px;
  background: rgb(39, 39, 39);
  border-radius: 12px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.123);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  transition-duration: .5s;
  margin: 15px;
}

.profileImage {
  background: linear-gradient(to right,rgb(54, 54, 54),rgb(32, 32, 32));
  margin-top: 20px;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.329);
  display: flex;
  justify-content: center;
}

.profileImage img{
  border-radius: 50%;
  width: max-content;
}

.textContainer {
  width: 100%;
  text-align: left;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.name {
  font-size: 0.9em;
  font-weight: 600;
  color: white;
  letter-spacing: 0.5px;
}

.profile {
  font-size: 0.84em;
  color: rgb(194, 194, 194);
  letter-spacing: 0.2px;
}

.card:hover {
  background-color: rgb(43, 43, 43);
  transition-duration: .5s;
}
